.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}

figcaption {
  text-align: center;
  color: gray;
  font-size: small;
  margin: 0.25rem 0 1.25rem;
}


:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(270deg, #4F8CEF,#4F8CEF,#FF8533, #FF8533);
  --vp-c-brand-1: #FF8533;
  --vp-c-brand-2: #4F8CEF;
  --vp-c-brand-3: #FF8533;
  --vp-c-default-3: #FF8533;
  --vp-c-default-2: #4F8CEF;
}