.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}

figcaption {
  text-align: center;
  color: gray;
  font-size: small;
  margin: 0.25rem 0 1.25rem;
}


:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(180deg, #FF8533, #4F8CEF);
}